.stopwatch {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;;
}

.dial {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

button {
    width: 120px;
}

sub {
    position: absolute;
    right: 35px;
    top: 16px;
}
