.stopwatch {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dial {
    display: block;
    margin-left: 60px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

button {
    width: 120px;
}

.mseconds {
    position: absolute;
    top: 6px;
    right: 51px;
    font-size: 14px;
}
